*{
    margin:0;
    padding: 0;
  }
  .navbar {
      background-color: #333; /* Negro mate */
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }
    
    .navbar-logo {
      display: flex;
      align-items: center;
    }
    
    .navbar-logo img {
      width: 40px; /* adjust the width of the logo image */
      height: 40px; /* adjust the height of the logo image */
      margin-right: 10px;
    }
    
    .navbar-logo span {
      font-size: 18px;
      color: #ffd700; /* Dorado */
      font-weight: bold;
    }
    
    .navbar-links {
      display: flex;
      justify-content: flex-end;
    }
    
    .navbar-links a {
      color: #ffd700; /* Dorado */
      text-decoration: none;
      margin-left: 20px;
    }
    
    .navbar-links a:hover {
      color: #fff; /* Blanco */
    }